<nav class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="/heroes/dashboard" class="brand-logo">NG World Tour</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/heroes/dashboard">Heroes</a></li>
      <li><a routerLink="/crisis-center">Crisis</a></li>
      <li><a routerLink="/animations/transitions">Animations</a></li>
      <li><a routerLink="/forms">Forms</a></li>
      <li><a routerLink="/http">HTTP</a></li>
      <li><a routerLink="/lifecyclehooks">Lifecycle Hooks</a></li>
       <li><a href="https://getmdl.io/" target="_blank">Material Design Lite!</a></li>
    </ul>
  </div>
</nav>
