<footer class="page-footer red lighten-1">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Angular Open Source Crisis Team</h5>
         <p class="grey-text text-lighten-4">We are the angular open source crisis team working on all angular projects. we are fearless, ruthless and honest, the goal is progress. produce quality software as fast as possible using pure open source stack. our goal is to free the world from evil closed source. target windows desktop, azure, sharepoint, office, exchange, biz-talk, sql server and the open source covert variants typescript, vscode, rxjs and so on ... 'the weed will grow over the huts in redmond. just for fun. 2017.'</p>

       </div>
       <div class="col l3 s12">
         <h5 class="white-text">Contribute</h5>
         <ul>
           <li><a class="white-text" href="https://github.com/angular/angular" target="_blank">Angular</a></li>
           <li><a class="white-text" href="https://github.com/angular/angular-cli" target="_blank">Angular CLI</a></li>
           <li><a class="white-text" href="https://github.com/google/material-design-lite" target="_blank">Material Design Lite</a></li>
           <li><a class="white-text" href="https://github.com/nodejs" target="_blank">NodeJS</a></li>
           <li><a class="white-text" href="http://libuv.org/" target="_blank">Libuv</a></li>
           <li><a class="white-text" href="https://github.com/v8" target="_blank">V8</a></li>
           <li><a class="white-text" href="https://github.com/torvalds/linux" target="_blank">Linux</a></li>
         </ul>
       </div>
       <div class="col l3 s12">
         <h5 class="white-text">Homebase</h5>
         <ul>
           <li><a class="white-text" href="https://angular.io" target="_blank">Angular</a></li>
           <li><a class="white-text" href="https://ionicframework.com/" target="_blank">Ionic</a></li>
           <li><a class="white-text" href="https://getmdl.io/" target="_blank">Material Design Lite</a></li>
           <li><a class="white-text" href="https://zorinos.com/" target="_blank">Zorin OS</a></li>
           <li><a class="white-text" href="https://www.ubuntu.com/download/desktop" target="_blank">Ubuntu</a></li>
           <li><a class="white-text" href="https://www.google.com/chromebook/" target="_blank">Chromebooks</a></li>
           <li><a class="white-text" href="https://firebase.google.com/" target="_blank">Firebase</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     <span class="light-green-text text-accent-3">Made with all</span> ❤ in the world using <a class="red-text text-darken-4" href="https://angular.io" target="_blank">Angular</a> <a class="green-text text-darken-4" href="https://cli.angular.io/" target="_blank">Angular CLI</a> <a class="blue-text text-darken-4" href="http://materializecss.com" target="_blank">Materialize</a> by an <a href="https://github.com/NilsHolger/ng2-worldtour" target="_blank" class="green-text text-accent-2">Angular Guy</a> hosted on <a class="purple-text text-darken-4" href="https://firebase.google.com/" target="_blank">Firebase</a>
     </div>
   </div>
    <div class="fixed-action-btn toolbar">
   <a class="btn-floating btn-large red lighten-1">
     <i class="large material-icons">loyalty</i>
   </a>
   <ul>
     <li class="waves-effect waves-light"><a href="https://cloud.google.com/" target="_blank"><i class="material-icons">cloud</i></a></li>
     <li class="waves-effect waves-light"><a href="https://firebase.google.com/" target="_blank"><i class="material-icons">visibility</i></a></li>
     <li class="waves-effect waves-light"><a href="https://ionic.io/cloud" target="_blank"><i class="material-icons">settings</i></a></li>
     <li class="waves-effect waves-light"><a href="https://firebase.google.com/" target="_blank"><i class="material-icons">alarm</i></a></li>
   </ul>
 </div>
 </footer>
