<div class="container">
  <h1 class="header center red-text lighten-1">Component Lifecycle Hooks</h1>
  <div class="row">
         <div class="card red lighten-1">
           <div class="card-content center">
<a id="top"></a>
<a class="waves-effect waves-light btn red" href="/lifecyclehooks#hooks" >
<i class="material-icons left">cloud</i>
  Open Source: (most) lifecycle hooks</a>
<a class="waves-effect waves-light btn red darken-1" href="/lifecyclehooks#onchanges">
<i class="material-icons left">cloud</i>
  OnChanges</a>
<a class="waves-effect waves-light btn red darken-2" href="/lifecyclehooks#docheck">
<i class="material-icons left">cloud</i>
  DoCheck</a>
<a class="waves-effect waves-light btn red darken-3" href="/lifecyclehooks#afterview">
<i class="material-icons left">cloud</i>
  AfterViewInit && AfterViewChecked</a>
<a class="waves-effect waves-light btn  red darken-4" href="/lifecyclehooks#aftercontent">
  <i class="material-icons left">cloud</i>
  AfterContentInit && AfterContentChecked</a>
<a class="waves-effect waves-light btn red accent-1" href="/lifecyclehooks#spy">
  <i class="material-icons left">cloud</i>
  Spy: directive with OnInit && OnDestroy</a>
<a class="waves-effect waves-light btn red accent-2" href="/lifecyclehooks#counter">
  Counter: OnChanges + Spy directive
<i class="material-icons left">cloud</i>
</a>

</div>
</div>

<a id="hooks"></a>
<peek-a-boo-parent></peek-a-boo-parent>
<a href="/lifecyclehooks#top">back to top</a>

<a id="spy"></a>
<spy-parent></spy-parent>
<a href="/lifecyclehooks#top">back to top</a>

<a id="onchanges"></a>
<on-changes-parent></on-changes-parent>
<a href="/lifecyclehooks#top">back to top</a>

<a id="docheck"></a>
<do-check-parent></do-check-parent>
<a href="/lifecyclehooks#top">back to top</a>

<a id="afterview"></a>
<after-view-parent></after-view-parent>
<a href="/lifecyclehooks#top">back to top</a>

<a id="aftercontent"></a>
<after-content-parent></after-content-parent>
<a href="/lifecyclehooks#top">back to top</a>

<a id="counter"></a>
<counter-parent></counter-parent>
<a href="/lifecyclehooks#top">back to top</a>
</div>
</div>
